.grid-format {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    border: black solid;
    border-radius: 0.5vw;
}

.grid-format > * {
    padding: 1.5vw;
    width: 100%;
    height: 100%;
    border: black solid 0.05vw;

    margin: 0;
}

.grid-format h1 {
    font-weight: bold;
}

.grid-format p {
    font-size: 1.75rem;
    line-height: 3rem;
}

.glossary-text {
    font-size: 1.75rem;
}