/** @format */

.w3-table table {
    width: 100%;
}

.w3-table th {
    padding: 0, 20px;
    font-size: 1.45rem;
    text-align: center;
    color: teal;
}

.w3-table tr {
    padding: 30px;
}

tr:nth-child(odd) {
    background-color: #f6fff8;
}

.w3-table td {
    /* vertical-align: center; */
    font-size: 1.25rem;
}
.w3-table td:first-child {
    font-size: 1.45rem;
    font-weight: 600;
    max-width: fit-content;
    color: #d45b39;
    width: 220px;
    white-space: nowrap;
    padding-right: 20px;
    vertical-align: center;
    text-align: center;
}

.w3-container p .no-ident {
    text-indent: 0;
}
