/** @format */
a.active.nav-link {
    color: white;
}

a.nav-link {
    color: var(--primary);
    font-size: 1 rem;
}

.signature {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.3rem;
    text-align: right;
    padding-top: 0.5vw;
    padding-bottom: 3vw;
}
