/** @format */

.nav-dropdown-link {
    color: white;
    width: 180px;
    /* padding-right: 20px; */
    display: block;
    text-align: left;
    text-decoration: none;
}

.nav-dropdown-link:hover {
    /* background-color: teal; */
    /* background-color: beige; */
    text-decoration: underline;
    color: white;
    
}

.nav-dropdown-toggle {
    /* background-color: #f6fff8; */
    margin-top: 0;
    height: 30px;
    color: teal;
    border: 0;
    padding-top: 0;
    text-decoration: none;
}

/* .nav-dropdown-toggle::after:hover {
    color: teal;
} */
.nav-dropdown-toggle:hover {
    /* background-color: #f6fff8; */
    position: relative;
    border: 0;
    text-decoration: underline;
    /* color: white; */
    color: teal;
}

.nav-dropdown-menu {
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: teal;
    margin-right: 15px;
    position: absolute;
    border: 1px solid white;
}

.nav-dropdown-item {
    width: 100%;
    color: teal;
}



/* @media screen and (max-width: 960px) {
    .nav-dropdown-menu {
        background-color: #ededed;
        color: teal;
        padding: 0;
        margin-top: -50px;
        margin-right: 80px;
        border: 1px solid lightseagreen;
        box-shadow: 0px 4px 4px 0px rgba(230, 230, 230, 0.05);
    }
}  */
