/** @format */

.toggle {
    /* background: #F0F0F0; */
    color: white;

    margin: 0.5vw;
    width: 9vw;
}

.toggle:hover {
    color: white;
    /* background-color: #E3E3E3; */
}

.dropdown-menu {
    /* background-color: #ededed; */
    background-color: #073B3A;
    padding: 0;
    /* margin-top: 9px; */
}

.dropdown-item {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: white
}

.dropdown-item:hover {
    background-color: #075857;
}

.dropdown-link {
    color: white;
}

.dropdown-link:hover {
    color: white;
}



