li::marker {
    font-size: 2rem;
}

.privacy ul {
    list-style-type: disc;
}

.privacy h1 {
    font-size: 3rem;
}

.privacy h2 {
    color: black;

    padding-top: 1.5rem;
    font-weight: bold;
}

.privacy h3 {
    font-size: 1.5rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

