/** @format */

.privacy-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.privacy-title-zh {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.privacy-date {
    font-size: 1rem;
    /* font-weight: 500; */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    text-indent: 0;
}
