/** @format */

.image-caption {
    position: absolute;
    padding-top: 15px;
    padding-left: 25px; 
    width: 100%;
    height: 55px;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    text-align: left; 
    bottom: 0;
    left:0;
    font-size: 17px;
}
/* .image-text h4 {
    font-size: 17px;
    color: white;
    padding-bottom: 0px;
}

.image-text p {
    font-size: 14px;
    color: lightgrey;
} */

h3, h4 {
    color: #d77d12;
}

.contact-info {
    padding-left: 16px;
}
