
.dress-image-container {
    width: 82%;
    position:relative;
    border-radius: 0.5vw 0.5vw 0vw 0vw;
}


.dress-image-container img {
    width: 100%;
    height: auto; 
    border-radius: 0.5vw 0.5vw 0vw 0vw;
    /* width: 200px; */
    /* height: 540px;  */
    object-fit:cover;
}



.image-caption {
    position: absolute;
    padding-top: 15px;
    padding-right: 25px; 
    /* width: 82%; */
    height: 55px;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    text-align: right; 
    bottom: 0;
    left:0;
    font-size: 17px;
}



/* h1 {
    color: #d45b39;
    margin-top: 10px;
    margin-bottom: 1vw;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    text-indent: 3rem;
} */