/** @format */

.header-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
    padding-top: 40px;
    /* padding: 0px 20px; */
    background-color: var(--bg-color);
}


/* ================Bottom Content ===========================*/

.bottom-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 0px;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    width: fit-content;
    margin-bottom: 10px;
}

.logo {
    width: 80px;
    /* height: auto; */
    margin-left: 30px;
    margin-bottom: 10px;
}

.bottom-content .slogan {
    color: #e09230;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.title-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title {
    font-family: "Garamond", serif;
    /* font-family: "Roboto", sans-serif; */
    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.799);
    text-align: left;
    letter-spacing: 1.6px;
}
.title-container span {
    /* font-family: 'Times New Roman', serif; */
    margin-top: 0px;
    font-size: 18px;
    font-weight: 300;
    color: darkgray;
    text-align: left;
    text-indent: 10px;
    letter-spacing: 2px;
}

/* ------------Media Query--------------- */
@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
        letter-spacing: 0.5px;
    }
    .title span {
        /* font-family: 'Times New Roman', serif; */
        font-size: 14px;
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width: 600px) {
    .bottom-content {
        /* flex: 1; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        /* gap: 5px; */
    }
    .slogan {
        display: none;
    }
    .title-container {
        display: none;
    }

    .title {
        font-size: 24px;
        letter-spacing: 0.5px;
        /* font-weight: bold; */
    }
    .title span {
        /* font-family: 'Times New Roman', serif; */
        font-size: 12px;
        letter-spacing: 0.5px;
    }
}
