/** @format */

.navbar {
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%; */
    /* height: 100px; */
    padding: 5px;
    /* z-index: 1; */
    box-shadow: 0 0.3vw 0.3vw 0 rgba(150, 150, 150, 0.2);
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    /* width: 100%;
    height: 2vw; */

    /* max-width: 100vw; */
}

a.dropdown-link {
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, 0.3571rem + 0.7143vw, 1.25rem);
    cursor: pointer;
    text-decoration: none;
    /* background-color: #28c7c5ed */
}

a.dropdown-link.active {
    border-right: 1px solid #368786ed;
}

.custom-link {
    padding: 0.35vw 3vw 0.35vw 3vw;
    text-align: center;

    width: 100%;

    color: white;

    /* border-radius: 0.25vw; */
}

@media screen and (max-width: 960px) {
    .navbar-container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}
