.w3-theme-l5 {color:#000 !important; background-color:#e7fcfc !important}
.w3-theme-l4 {color:#000 !important; background-color:#b0f6f5 !important}
.w3-theme-l3 {color:#000 !important; background-color:#60ecea !important}
.w3-theme-l2 {color:#fff !important; background-color:#1adad7 !important}
.w3-theme-l1 {color:#fff !important; background-color:#108b89 !important}
.w3-theme-d1 {color:#fff !important; background-color:#063535 !important}
.w3-theme-d2 {color:#fff !important; background-color:#062f2f !important}
.w3-theme-d3 {color:#fff !important; background-color:#052a29 !important}
.w3-theme-d4 {color:#fff !important; background-color:#042423 !important}
.w3-theme-d5 {color:#fff !important; background-color:#031e1d !important}

.w3-theme-light {color:#000 !important; background-color:#e7fcfc !important}
.w3-theme-dark {color:#fff !important; background-color:#031e1d !important}
.w3-theme-action {color:#fff !important; background-color:#031e1d !important}

.w3-theme {color:#fff !important; background-color:#073b3a !important}
.w3-text-theme {color:#073b3a !important}
.w3-border-theme {border-color:#073b3a !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#073b3a !important}
.w3-hover-text-theme:hover {color:#073b3a !important}
.w3-hover-border-theme:hover {border-color:#073b3a !important}