/** @format */

.footer {
    margin-top: 2rem;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.social-icon__item {
    list-style: none;
}

.social-icon__link {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.footer .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    color: white;
    max-width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    /* margin-top: 1vw; */
}

.footer-link {
    padding: 1.5rem;
}

.footer-link a {
    color: white;
}

.footer-link a:hover {
    text-decoration: "underline";
}

.footer p {
    color: white;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1px;
}

.copyright {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #073b3a; */
}

.copyright-text {
    text-align: center;
    font-size: 0.9rem;
    /* line-height: 2vw; */
    color: rgba(255, 255, 255, 0.639);
    /* margin-right: 0.5vw; */
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #031e1d !important;
}

@media screen and (max-width: 960px) {
    .footer .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-link {
        padding: 0.6rem;
    }
}
