/** @format */

img {
    width: 120px;
}

h1 {
    color: #d45b39;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    text-indent: 3rem;
}

.signature {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.3rem;
    text-align: right;
    padding-top: 0.5vw;
    padding-bottom: 3vw;
}
